@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(http://fonts.googleapis.com/css?family=Nobile:regular,italic,bold,bolditalic);

$dark-grey: #333;
$light-grey: #eee;
$middle-grey: #aaa;

$gold: #ffcc00;
$brown: #835c33;
$grey-green: #cccc99;
$white: #f5ffc0;
