body.beers {
  .ui-draggable {
    cursor: move;
  }

  .vote_list {
    border: 1px solid $white;
    padding: 3px;

    &.target_outline {
      border-color: $blue;
      background-color: transparentize($blue, 0.80);
    }

    &.drop_now {
      border-color: $green;
      background-color: transparentize($green, 0.80);
    }

    li.vote {
      cursor: move;
    }

    .remove {
      display: inline-block;
      float: right;
      cursor: pointer;
    }
  }

  .master_beer_list li.ui-draggable,
  .vote_list li {
    background-color: $grayLighter;
    border: 1px solid $grayLight;
    padding: 3px;
    margin-top: 5px;
  }
}
